<section class="logInSection">

  <form action="/authorization/login" method="POST" name="logInForm" class="logInContainer">
   <div class="darkFone" id="darkForm"></div>
    <h1 class="logInItem">Log in to continue</h1>
    <div class="logInItem">
      <label class="">Login:</label>
      <input type="text" name="username" class="">
    </div>
    <div class="logInItem">
      <label class="">Password:</label>
      <input type="password" name="password" class="">
    </div>
    <button class="logInBtn">Log In</button>
  </form>

</section>

<script src="/js/login.js"></script>
