<section class="logInSection" id="singUpContainer">
  <form action="/authorization/signup" method="POST" class="logInContainer" >
   <div class="darkFone" id="darkForm"></div>
    <h1 class="logInItem">Register to continue</h1>
    <div class="logInItem">
      <label class="">Login:</label>
      <input type="text" name="username" class="">
    </div>
    <div class="logInItem">
      <label class="">Email:</label>
      <input type="email" name="email" class="">
    </div>
    <div class="logInItem">
      <label class="">Password:</label>
      <input type="password" name="password" class="">
    </div>
    <button class="logInBtn">Sign Up</button>
  </form>
</section>